.dropdown-menu {
    /* --bs-dropdown-min-width: 0rem !important; */
    min-width: 0rem;
}

.dropdown {
    align-self: center;
}
.dropdown-toggle {
    align-self: center;
}
.nav-link {
    align-self: center;
}
